= form_for @trip do |f|
  %p.form_item
    %label{:for => "name"}
    = t :trip_name_label
    %span.error= error_message_on("name")
    = f.text_field :name, :tabindex => autotab, :maxlength => 50, :class => error_for("name")
  %p.form_item
    %label{:for => "destination"}
    = t :trip_destination
    %span.error= error_message_on("destination")
    = f.text_field :destination, :tabindex => autotab, :maxlength => 50, :class => [error_for("destination"), "destination"]
  %fieldset.form_item.date
    When is your trip?
    %span.error= error_message_on("start_date")
    %br
    %label{:for => "start_date"}
    = t :start_trip
    = f.text_field :start_date, :tabindex => autotab, :maxlength => 10, :class => [error_for("start_date") , "datepicker"]
    %label{:for => "end_date"}
    = t :end_trip
    = f.text_field :end_date, :tabindex => autotab, :maxlength => 10, :class => [error_for("start_date"), "datepicker"]

  %p.form_submit
    = f.submit "Create trip »", :class=>"submit"
