.checkin
  = form_for :checkin, :method => 'post', :url => {:controller => 'traveler', :action => 'checkin'} do |f|
    %fieldset.checkin#labels
      %label{:for => "nick"} Nickname
      %label{:for => "password"} Password
    %fieldset.checkin#fields
      = f.text_field :nick, :tabindex => autotab, :maxlength => 20, :class => error
      = f.password_field :password, :tabindex => autotab, :maxlength => 20, :class => error
      = f.submit "Check in »"
      %span.error= flash[:checkin_error]

