
#registration
  %h3 Registration
  %p= flash[:notice]

  - form_for :traveler, :method => 'post', :url => { :controller => 'traveler', :action => 'create' } do |f|
    %p
      %label{:for => "nick"} Nickname:
      = f.text_field :nick
    %p
      %label{:for => "email"} E-mail:
      = f.text_field :email
    %p
      %label{:for => "password"} Password:
      = f.text_field :password
    = f.submit "Register"

